<header id="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
    <a href="#" class="navbar-brand">
      <img class="logoFDN" src="../../../../assets/img/logoFDN.jpg" alt="logo FDN">
      <span class="FDN">FDN</span>
    </a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#myNavbar">
        <span class="toggler-icon material-icons">
          menu
        </span>
    </button>
    <div class="collapse navbar-collapse ml-auto" id="myNavbar">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">A propos de FDN</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown">SVOD</a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown">Netflix</a></li>
            <li><a class="dropdown-item" href="#">OCS</a></li>
            <li><a class="dropdown-item" href="#">Disney +</a></li>
            <li><a class="dropdown-item" href="#">Amazon Prime Video</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link">La Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Contacts</a>
        </li>
      </ul>
      <!--
        <div class="nav-info-items d-none d-lg-flex">

          <div class="nav-info align-items-center d-flex justify-content-between mx-lg-5">
          <span class="info-icon mx-lg-3 material-icons">phone</span>
          <p class="mb-0">+ 123 456 789</p>
        </div>
        <div id="cart-info" class="nav-info align-items-center cart-info d-flex justify-content-between mx-lg-5">
          <span class="cart-info__icon mr-lg-3 material-icons">shopping_cart</span>
          <p class="mb-0 text-capitalize">
            <span id="item-count">2</span>
            produits - €
            <span class="item-total">10.49
            </span>
        </div>
      </div>-->
    </div>
  </nav>
</header>
