<section class="team py-5">
  <div class="container">

    <!-- Team title -->
    <div class="row ">
        <h1 class="team-h1">La TEAM <strong class="team-title">FDN</strong></h1>
    </div>
    <!-- les Fondateurs -->
    <div class="row fondateurs text-center encart">
      <h1>Les Fondateurs</h1>
        <!-- Charly -->
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="our-team">
          <div class="pic">
            <img src="../../../../assets/img/avatar_charly2.jpg">
          </div>
          <div class="team-content">
            <h3 class="title">Charly</h3>
            <span class="post">
              Administrateur
            </span>
          </div>
          <p class="description">
            Communication et gestion des groupes FDN
          </p>
        </div>
      </div>

      <!-- Kévin -->
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="our-team">
          <div class="pic">
            <img src="../../../../assets/img/avatar_y.jpg">
          </div>
          <div class="team-content">
            <h3 class="title">Kévin</h3>
            <span class="post">
              Administrateur
            </span>
          </div>
          <p class="description">Evolution numérique FDN</p>
        </div>
      </div>

      <!-- Dylan -->
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="our-team">
          <div class="pic">
            <img src="../../../../assets/img/avatar_y.jpg">
          </div>
          <div class="team-content">
            <h3 class="title">Dylan</h3>
            <span class="post">
              Administrateur
            </span>
          </div>
          <p class="description">Gestion de la page FDN</p>
        </div>
      </div>
    </div>

    <!-- les Admins et modérateurs -->
    <div class="row admins-modes text-center encart">
      <h1>Les Admins et Modérateurs</h1>

      <!-- Neopha -->
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="our-team">
          <div class="pic">
            <img src="../../../../assets/img/avatar_neopha.jpg">
          </div>
          <div class="team-content">
            <h3 class="title">Neopha</h3>
            <span class="post">
              Administratrice
            </span>
          </div>
          <p class="description">Co-Gestion des groupes FDN Community</p>
        </div>
      </div>

      <!-- Angèle -->
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="our-team">
          <div class="pic">
            <img src="../../../../assets/img/avatar_angèle.jpg">
          </div>
          <div class="team-content">
            <h3 class="title">Angèle</h3>
            <span class="post">
              Administratrice et Modératrice
            </span>
          </div>
          <p class="description">Admin du groupe connexe Disney Plus <br>Modératrice du groupe FDN France</p>
        </div>
      </div>

      <!-- Chris -->
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="our-team">
          <div class="pic">
            <img src="../../../../assets/img/avatar_x.jpg">
          </div>
          <div class="team-content">
            <h3 class="title">Chrissy</h3>
            <span class="post">
              Administratrice et Modératrice
            </span>
          </div>
          <p class="description">Admin du groupe connexe OCS <br>Modératrice du groupe FDN France</p>
        </div>
      </div>

      <!-- Aghiles -->
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="our-team">
          <div class="pic">
            <img src="../../../../assets/img/avatar_y.jpg">
          </div>
          <div class="team-content">
            <h3 class="title">Aghiles</h3>
            <span class="post">
              Administreur et Modérateur
            </span>
          </div>
          <p class="description">Admin du groupe connexe Amazon Prime
            <br>Modérateur du groupe FDN France
            <br>Support animations et visuels FDN
          </p>
        </div>
      </div>

      <!-- Lyvia -->
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="our-team">
          <div class="pic">
            <img src="../../../../assets/img/avatar_lyvia.jpg">
          </div>
          <div class="team-content">
            <h3 class="title">Lyvia</h3>
            <span class="post">
              Administratrice et Modératrice
            </span>
          </div>
          <p class="description">Admin du groupe FB FDN Canada
            <br>Modératrice du groupe FDN France
            <br>Maintenance du site web FDN
          </p>
        </div>
      </div>

      <!-- Karrol -->
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="our-team">
          <div class="pic">
            <img src="../../../../assets/img/avatar_x.jpg">
          </div>
          <div class="team-content">
            <h3 class="title">Karrol</h3>
            <span class="post">
              Administratrice
            </span>
          </div>
          <p class="description">Admin du groupe FDN Live
            <br>Support du compte Instagram FDN
          </p>
        </div>
      </div>

    </div>

    <!-- Les renforts -->
    <div class="row renforts text-center justify-content-around encart">
      <h1>Les renforts</h1>

      <!-- Simon -->
      <div class="col-md-3 col-sm-6">
        <div class="our-team">
          <div class="pic">
            <img src="../../../../assets/img/avatar_simon2.jpeg">
          </div>
          <div class="team-content">
            <h3 class="title">Simon</h3>
            <span class="post">
              Développeur web
            </span>
          </div>
          <p class="description">Petit gaulois exploité au fond de la cave pour réaliser le site web FDN</p>
        </div>
      </div>

      <!-- Clothilde -->
      <div class="col-md-3 col-sm-6">
        <div class="our-team">
          <div class="pic">
            <img src="../../../../assets/img/avatar_x.jpg">
          </div>
          <div class="team-content">
            <h3 class="title">Clothilde</h3>
            <span class="post">
              Graphiste et photographe
            </span>
          </div>
          <p class="description">
                Créatrice des supports visuels numériques
          </p>

        </div>
      </div>

    </div>


  </div>
</section>

