.team
  /*background: var(--mainBlack)*/
  /*color: var(--mainWhite)*/

.team-title
  color: var(--mainGreen)
  font-size: 4rem

.row
  margin-bottom: 50px

.encart
  border: 5px solid var(--mainRed)
  padding-top: 20px
  padding-bottom: 20px

.our-team
  text-align: center
  position: relative
  margin-bottom: 20px

.our-team .pic
  width: 200px
  height: 200px
  border-radius: 50%
  border: 8px solid var(--mainGreen)
  margin: 0 auto
  overflow: hidden

.our-team .pic img
    width: 100%
    height: auto

.our-team .team-content
  padding: 15px 15px 20px
  background: var(--mainGreen)
  border-radius: 5px 5px 0 0
  margin-top: -20px
  color: var(--mainBlack)

.our-team .title
  font-size: 30px
  font-weight: bold
  margin: 10px 0 5px 0

.our-team .post
  display: block
  font-size: 20px
  font-weight: 900
  text-transform: uppercase

.our-team .description
  padding: 20px
  background: var(--mainGreen)
  font-size: 20px
  color: var(--mainBlack)
  margin-bottom: 0
