<section class="netflix py-5">
  <div class="container">

    <!-- Netflix title -->
    <div class="row text-center title">
      <h1 class="netflix-h1">Fans de <strong class="netflix-title">Netflix</strong></h1>
    </div>

    <!-- cards -->

    <!-- article -->
    <div class="card text-center">
      <div class="card-header">
        Série
      </div>
      <div class="card-body">
        <h5 class="card-title">Omar Sy, le gentleman cambrioleur</h5>
        <p class="card-text">Omar SY incarne un nouveau personnage qui est autre qu'un cambrioleur dans la nouvelle série Originale Netflix “Lupin dans l’ombre d&#39;Arsène&quot;</p>
        <a routerLink="article-lupin" class="btn btn-dark">Lire</a>
      </div>
      <div class="card-footer text-muted">#netflix #nouveauté #originalnetflix</div>
    </div>

    <!-- article -->
    <div class="card text-center">
      <div class="card-header">
        Série
      </div>
      <div class="card-body">
        <h5 class="card-title">Sons of Anarchy</h5>
        <p class="card-text">Si vous êtes intéressés par les histoires mêlant guerre de territoires, humour, amour et trahison, cette série est faite pour vous... </p>
        <a routerLink="#" class="btn btn-dark">Lire</a>
      </div>
      <div class="card-footer text-muted">#netflix #bikers #drame</div>
    </div>

    <!-- article -->
    <div class="card text-center">
      <div class="card-header">
        Culture
      </div>
      <div class="card-body">
        <h5 class="card-title">Qu'est-ce-qu'un drama?</h5>
        <p class="card-text">Les dramas sont de plus en présents sur Netflix, mais de quoi est-il question ?</p>
        <a routerLink="#" class="btn btn-dark">Lire</a>
      </div>
      <div class="card-footer text-muted">#netflix #kdrama #vost</div>
    </div>

  </div>
</section>

<router-outlet></router-outlet>
