<footer class="footer font-small bg-dark text-white">

  <div class="container contact-box d-flex justify-content-around align-items-center px-3">

    <div class="row">
      <div class="contact col-lg-5">
      <div class="phone d-flex align-items-center">
        <span class="material-icons contact-icon">call</span>
        <span>+33 06 61 62 63</span>
      </div>
      <div class="email d-flex align-items-center">
        <span class="material-icons contact-icon">email</span>
        <span>fansdenetflixfrance@gmail.com</span>
      </div>
    </div>

    <div class="about-us col-lg-4">
      <h4 class="title">A propos de nous</h4>
      <p>
        FDN Community rassemble près de 80 000 fans tous supports confondus, avec une page Facebook, cinq groupes associés, un compte Instagram et un compte Twitter. N'hésitez pas à nous rejoindre. Nos crédos sont: bienveillance, respect et convivialité.
      </p>
      <div class="social-media d-flex justify-content-start py-3">
        <a href="https://www.facebook.com/fans2netflix" target="_blank">
          <img src="../../../../assets/img/social_media_logo_facebook_icon-icons.com_59059.ico" alt="" class="logo-rs">
        </a>
        <a href="https://instagram.com/fans2netflix" target="_blank">
          <img src="../../../../assets/img/social_media_logo_instagram_icon-icons.com_59062.ico" alt="" class="logo-rs">
        </a>
        <a href="https://twitter.com/Fans2Netflix" target="_blank">
          <img src="../../../../assets/img/social_media_logo_twitter_icon-icons.com_59061.ico" alt="" class="logo-rs">
        </a>

      </div>
    </div>
    </div>



  </div>

  <div class="footer-copyright text-center py-3">&copy;2021 - Created with
    <span class="favorite material-icons">favorite</span> at Bordeaux & Montréal
  </div>
</footer>

